# Dependencies
node_modules
**/node_modules

# Build outputs
dist
build
.cache

# Environment
.env
.env.*
!.env.example

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db